{
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "pluginSearchDirs": ["."],
  "plugins": ["prettier-plugin-svelte"],
  "printWidth": 200,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false
}
