:root {
  --font-body: 'Catamaran', sans-serif;
  --body-color: #fff;
  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--body-color);
}
